{% extends 'base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}
    <div class="conatiner">
        <h1 class="mt-4">Formulaire de modification des informations de l'utilisateur</h1>

        {{ form(form) }}
    </div>
{% endblock %}
